* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    --background-color: #F3EFE6; /*main color: #D3C1A2*/
    --color: #252422;
    --box-color: #F8F6F1;
    --accent-color: #756B5A;
    --accent-color-hover: rgba(117, 107, 90, 0.749)
    
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    
    font-family: monospace;
    overflow-x: hidden;
    color: var(--color);
    background-color: var(--background-color)
    
  }

  #maincontainer {
    display: grid;
    grid-template-areas:
      "header"
      "Topic";
    grid-template-rows: 50vh 50vh auto auto auto;
    grid-template-columns: 1fr;
    height: 100vh;
    
  }

  .header {
    min-height: 50vh;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #name {
    font-size: 450%;
  }
  #phrase {
    font-size: 120%;
  }


  
.topics {
 
   grid-area: Topic;
  display: flex;
  align-items: center;
  
  justify-content: space-around;
  text-align: center;
  
  
}

.topic {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
  background-color: var(--accent-color);
  font-size: 200%;

  transition: background-color 0.3s ease;
  transition: transform .2s;
  text-decoration: none;
  border-radius: 7px;
  min-width: 200px;
  min-height: 50px;

  
}

.topic:hover {
  background-color: var(--accent-color-hover);
  transform: scale(1.2);
}

.topic-section {
  font-size: 150%;
  justify-content: center;
  padding: 20px;
  background-color: #F8F6F1;
  min-height: 100vh;

}

/*About Me*/


.picture {
  margin-right: 30px;
  float: right;
  background-color: lightgray;
 padding: 250px 200px;

}

